h1{
    color: red;
}

#hexaDecimal{
    color: #0000ff;
}
#hexaDecimalOpacidade{
    color: #0000ff50;
}
#corRgb{
    color: rgb(208, 255, 0);
}
#corRgba{
    color:rgba(208, 255, 0, 0.604);
}
section{
    background-color: rgb(212, 152, 184);
    font-size: 20px;
}
#porcentagem{
    font-size: 50%;
}
#em{
    font-size: 2em; /*2x o tamanho da font-size do elemento pai*/
}
#rem{
    font-size: 1rem;/*1x o tamanho do elemento raiz <html>*/
}
#caixa{
    background-color: green;
    width: 50vw;
    height: 50vh;
}