.buttons{
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
    width: 600px;
    
    
    button{
        background-color: #ff4500;
        color: #ffffff;
        padding: 1rem;
        border-radius: 10px;
        border: none;
        transition: 1s;
    }

    button:houver{
        background-color: #5b1c05;
    }

    button:focus{
        outline: 2px solid #5a1901;
    }
}

input{
    padding: 1rem;
    margin-top: 2rem;

    outline: 2px solid #94462a;

}

.texts{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    justify-content: space-between;
    width: 600px;

    p:first-child{
        font-weight: bold;
        color: green;
    }

    p:last-child{
        font-weight: bold;
        color: blueviolet;
    }
    
}

.images{
    display: flex;
    justify-content: space-between;
    width: 600px;

    img{
        width: 100px;
        height: 100px;
    }

    img:nth-child(odd){ /* odd=ímpar */
        border-radius: 50%;
    }

    img:nth-child(even){ /* even=par */
        filter: grayscale(100%);
    }
}

h2{
    margin-top: 3rem;
}
