*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1{
    font-family: "Anton SC", sans-serif;
    font-size: 5rem;
}

p{
    font-size: 2rem;
}

.textsConteiner{
    padding: 1rem;
}

.imagesConteiner{
    display: flex;
}

.image1{
    background-image: url("assets/images/praia.jpg");
    height: 400px;
    width: 50vw;
    background-size: cover;
}

.image2{
    background-image: url("assets/images/campo.jpg");
    height: 400px;
    width: 50vw;
    background-size: cover;
}

@media (max-width: 600px){
    h1{
        font-size: 4rem;
    }
    
    p{
        font-size: 2rem;
    }

    .imagesConteiner{
        flex-direction: column;
    }

    .image1, .image2{
        width: 100vw;
    }
}